<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>환율 계산</title>
</head>
<body>
    <h1>환율 계산</h1>
    <div>송금국가: 미국(USD)</div>
    <div>수취국가:
        <select id="country" name="country" onchange="currency.changeCurrency(this.value)">
            <option value="KRW">한국(KRW)</option>
            <option value="JPY">일본(JPY)</option>
            <option value="PHP">필리핀(PHP)</option>
        </select>
    </div>
    <div>환율:
        <span id="exchangeRate"></span>
        <span id="currency"></span>
    </div>
    <div>송금액: <input id="remittance"> USD</div>
    <button id="submit" type="button">Submit</button>
<script th:src="@{/js/currency.js}"></script>
</body>
</html>