<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>환율 계산</title>
</head>
<body>
    <h1>환율 계산</h1>
    <div>송금국가: 미국(USD)</div>
    <div>수취국가:
        <select id="country" name="country" onchange="currency.changeCurrency(this.value)">
            <option value="KRW">한국(KRW)</option>
            <option value="JPY">일본(JPY)</option>
            <option value="PHP">필리핀(PHP)</option>
        </select>
    </div>
    <div>환율:
        <span id="exchangeRate"></span>
        <span id="currency"></span>
        <input id="fineExchangeRate" name="fineExchangeRate" type="text" style="display: none;">
    </div>
    <div>송금액: <input id="remittance"> USD
        <span id="remittanceAlertMessage" style="display: none; color: red; margin-left: 10px;">송금액이 바르지 않습니다.</span>
    </div>
    <button id="submit" type="button" onclick="currency.getAmount()">Submit</button>

    <div id="amount" style="margin-top: 20px;"></div>

<script th:src="@{/js/common.js}"></script>
<script th:src="@{/js/currency.js}"></script>
</body>
</html>