<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>환율 계산</title>
</head>
<body>
    <h1>환율 계산</h1>
    <p>송금국가: 미국(USD)</p>
    <p>수취국가:
        <select>
            <option>한국(KRW)</option>
            <option>일본(JPY)</option>
            <option>필리핀(PHP)</option>
        </select>
    </p>
    <p>환율:
        <span></span>
        <span></span>
    </p>
    <p>송금액: <input type="number"> USD</p>
    <button type="button">Submit</button>
</body>
</html>